.minister-page{
  height: 81vh;
  .minister-wrapper{
    color: white;
    text-align: center ;
    border: 1px solid white;
    min-height: 570px;
  }
  .back-button{
    text-align: center;
    margin-top: 5px;
  }
}
