<section>
  <div class="minister-wrapper">
    <h2>{{minister.name}}</h2>
    <p>Party: <b>{{minister.party}}</b></p>
    <p>{{minister.state}}, {{minister.constituency}}</p>
    <img src="{{minister.image}}" height="200px" width="175px"/>
    <p>Age: {{minister.age}}</p>
    <p>Education: {{minister.qual}}, {{minister.edu}}</p>
    <hr>
    <div>
      <h3>CRIMINAL RECORD</h3>
      <p>{{minister.criminalRecord !=='0' ? minister.criminalRecord  : 'No Criminal Record'}}</p>
    </div>
  </div>
  <div class="back-button">
    <button *ngIf="!hideResetButton" mat-raised-button color="primary" [routerLink]="['/home']">Back</button>
  </div>
</section>
