<div class="home-wrapper">

  <form class="form-section" [formGroup]="profileForm">
    <mat-form-field>
      <mat-select placeholder="STATE" [formControl]="stateControl">
        <mat-option *ngFor="let state of states" [value]="state.code">
          {{state.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field *ngIf="stateConstituencies && stateConstituencies.length">
        <mat-select placeholder="CONSTITUENCY" [formControl]="constituencyControl">
          <mat-option *ngFor="let constituency of stateConstituencies" [value]="constituency.code">
            {{constituency.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <div class="ministers-all" *ngIf="ministers && ministers.length">
      <mat-form-field class="ministers-dropdown">
        <mat-select placeholder="MINISTERS" [formControl]="ministerControl">
          <mat-option *ngFor="let minister of ministers" [value]="minister.id">
            {{minister.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="constituencySelected" mat-raised-button color="primary" [routerLink]="['/ministers', constituencySelected.value]">Show all</button>
    </div>

    <button *ngIf="ministerSelected" mat-raised-button color="primary" [routerLink]="['/minister', ministerSelected]">Find</button>

  </form>

  <div class="google-map">
    <!--<img class="india-map" src="../../assets/images/map.jpg">-->
    <app-google-map [constituencySelected]="constituencySelected"
                    [provinceSelected]="provinceSelected"></app-google-map>
  </div>
</div>
