.home-wrapper{
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-section{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    button{
      width:150px;
    }

  }
  .india-map{
    height: 580px;
    width: 550px;
    margin: 10px;
  }

  .ministers-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .ministers-dropdown{
      flex-basis: 70%;
      margin-right: 5px;
    }
  }
  @media only screen and (max-width: 992px) {
    flex-direction: column;

    .india-map{
      margin-top: 20px;
    }
  }
}
.google-map, app-google-map{
  width: 100%;
}
app-google-map{
  display: flex;
  justify-content: space-around;
}
